<div>

	<label><b>First Name</b></label>
	<input type="text" placeholder="Enter First Name"  name="student[firstname]" value="<%= @student.firstname if @student %>" required><br>

	<label><b>Last Name</b></label>
	<input type="text" placeholder="Enter Last Name" name="student[lastname]" value="<%= @student.lastname if @student %>"  required><br>

	<label><b>Birthdate</b></label>

	<input type="date" placeholder="mm/dd/yy" name="student[birthday]" value="<%= @student.birthday if @student.birthday %>" required><br>

	<label><b>Address</b></label>
	<% address = @student.address %>
	<input type="text" placeholder="Enter Address" name="student[address]" value="<%= address if address %>"><br>

	<label><b>Student ID</b></label>
	<input type="text" placeholder="Enter Student ID" name="student[id]" value="<%= @student.id if @student%>" required><br>

</div>
